{% extends "yardSite/base.html" %}

{% block title %} Job Finished {% endblock %}

{% block content %}
    <div>
        <h1 class="mt-2">Job Finished!</h1>
        <hr class="mt-0 mb-4">
        <div class="card bg-light text-center">
            <h5 class="card-header">{{job.job_type}}</h5>
            <div class="card-body">
                <p class="card-text">{{job.description}}</li>
                <p class="card-text">Payment: ${{job.cash_reward}}</p>
            </div>
            <a href="{% url 'yardSite:ownedJobDetails' job.id %}">
                <button class="btn btn-primary" style="margin-bottom: 10px;">Details</button>
            </a>
        </div>
        <a href="{% url 'yardSite:workerDashboard' %}">
            <button class="btn btn-primary">Exit</button>
        </a>
    </div>
{% endblock %}