{% extends "accounts/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid vh-100 w-100">
        <div class="row vh-100">
            <div class="col-10">
                <h1>Available Jobs - {{ queryset.count }}</h1>
                <hr class="mt-0 mb-4">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5">
                    {% for job in queryset %}
                        <div class="col mb-2">
                            <div class="card">
                                <div class="card-header">{{ job.job_type }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">${{ job.cash_reward }}</h5>
                                    <p class="card-text">{{ job.preview_description }}</p>
                                </div>
                                <a href="{% url 'yardSite:ownedJobDetails' job.id %}"><button class="btn btn-outline-primary w-100" href="">Details</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h1 class="ms-3">Filter Jobs</h1>
                <hr class="mt-0 mb-4">
                <form method="GET" action=".">
                    <div class="form-check my-3 ms-3">
                        <input class="form-check-input" name="zip" type="checkbox" id="flexCheckDefault" {% if 'zip' in checked %} checked {% endif %}>
                        <label class="form-check-label" for="flexCheckDefault">Jobs Near Me</label>
                    </div>
                    {% for type in job_types %}
                        <div class="form-check my-3 ms-3">
                            <input class="form-check-input" name="{{ type.name }}" type="checkbox" id="flexCheckDefault" {% if type.name in checked %} checked {% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">{{ type }}</label>
                        </div>
                    {% endfor %}
                    <div class="btn-group">
                        <input type="submit" name="filter" value="Filter" class="btn btn-secondary ms-3">
                        <input type="submit" name="clear" value="Clear" class="btn btn-dark">
                    </div>
                </form>
            </div>
            <a href="{% url 'yardSite:sentReviews'%}">
    	  	    <button class="btn btn-primary" style="margin-bottom: 10px;">View a list of reviews you have created</button>
    	    </a>
        </div>
    </div>
{% endblock %}
