{% extends "yardSite/base.html" %}

{% block title %} Job Details {% endblock %}

{% block content %}
    <h1 class="mt-2">Job Details</h1>
    <hr class="mt-0 mb-2">
    <div class="card fs-5">
        <div class="card-header">
            {{ job.job_type }} - Posted by {{ job.name }} ({{job.customer.user }})
        </div>
        <div class="card-body">
            <h5 class="card-title fs-3">${{ job.cash_reward }}</h5>
            <p class="card-text">{{ job.description }}</p>
            {% if not job.available %}
                <p class="card-text">Assigned to - {{ job.worker.user }}</p>
            {% endif %}
            <p class="card-text font-weight-bold">Expected Completion Date - {{ job.date_to_be_finished_by }}</p>
            <h5 class="card-title fs-3">Address and Contact Info</h5>
            <p class="card-text">Location - {{ job.customer.user.get_address }}</p>
            <p class="card-text">Email - {{ job.customer.user.email }}</p>
            <p class="card-text">Phone - {{ job.customer.user.phone }}</p>
            {% if job.customer.user == user %}
                <a href="{% url 'yardSite:delete_job' job.id %}" class="btn btn-outline-danger fs-5 float-end">Delete</a>
            {% endif %}
        </div>
    </div>
    <div class="btn-group mt-2 w-100">
        {% if job.available %}
            {% if can_edit %}
                <a href="{% url 'yardSite:editJob' job.id %}" class="btn btn-outline-primary fs-5">Edit</a>
            {% endif %}
            {% if can_assign %}
                <a href="{% url 'yardSite:acceptedJob' job.id %}" class="btn btn-outline-primary fs-5">Take Job</a>
            {% endif %}
        {% else %}
            {% if not job.completed %}
                {% if can_assign %}
                    <a href="{% url 'yardSite:finishJob' job.id %}" class="btn btn-outline-primary fs-5">Record Completion</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <button class="btn btn-outline-dark fs-5" onclick="history.back()">Back</button>
    </div>    

    {% if receivedReview %}
    	<div>
	    {% for review in receivedReview %}
	    	<h2> You received a review </h2>
            	<ul>
	    	    <li>Date Posted: {{ review.published_date }} </li>
	            <li>Review: {{ review.review_text }} </li>
	       	    <li>Received a {{ review.rating_num }} star rating.</li>
             	</ul>
	    {% endfor %}
    	</div>
    {% endif %}

    {% if yourReview %}
    	<div>
	    {% for review in yourReview %}
	    	<h2> You sent a review </h2>
          <ul>
	    	    <li>Date Posted: {{ review.published_date }} </li>
	    	    <li>Review: {{ review.review_text }} </li>
	    	    <li>Received a {{ review.rating_num }} star rating.</li>
          </ul>
	    {% endfor %}
    	</div>
    {% endif %}
{% endblock %}
