{% extends "yardSite/base.html" %}

{% block title %} Worker Dashboard {% endblock %}


{% block content %}

    <div>
        <h1 class="mt-2">Wallet</h1>
        <p>${{ wallet }}</p>
        <form method="post" class="form-group">
            {% csrf_token %}
            $<input type="number" name="Withdraw" value="0" min="0"></input>
            <button type="submit" class="btn btn-success">Withdraw Funds</button>
        </form>
    </div>

    <div>
        <h1 class="mt-2">Assigned Jobs</h1>
        <hr class="mt-0 mb-4">
        {% if assigned %}
            <div class="row row-cols-1 row-cols-md-6 g-4">
                {% for job in assigned %}
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">{{ job.job_type }}</div>
                            <div class="card-body">
                                <h5 class="card-title">${{ job.cash_reward }}</h5>
                                <p class="card-text">{{ job.description }}</p>
                            </div>
                            <a href="{% url 'yardSite:ownedJobDetails' job.id %}"><button class="btn btn-outline-primary w-100" href="">Details</button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No Jobs Assigned</p>
        {% endif %}
    </div>

    <div>
        <h1 class="mt-2">Completed Jobs</h1>
        <hr class="mt-0 mb-4">
        {% if completed %}
            <div class="row row-cols-1 row-cols-md-6 g-4">
                {% for job in completed %}
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">{{ job.job_type }}</div>
                            <div class="card-body">
                                <h5 class="card-title">${{ job.cash_reward }}</h5>
                                <p class="card-text">{{ job.description }}</p>
                            </div>
                            <a href="{% url 'yardSite:ownedJobDetails' job.id %}"><button class="btn btn-outline-primary w-100" href="">Details</button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No Completed Jobs</p>
        {% endif %}
    </div>

    <div>
        <h1 class="mt-2">Reviews received by customers</h1>
        <hr class="mt-0 mb-4">
        {% if workerReviews %}
            <div class="row row-cols-1 row-cols-md-6 g-4">
                {% for review in workerReviews %}
                    <div class="card bg-light text-center">
                        <div class="card-header">{{ review.job.job_type}}</div>
                        <div class="card-body">
                            <p class="card-text">{{ review.job.description}}</li>
                            <p class="card-text">received a {{ review.rating_num }} rating</p>
			                <p class="card-text"> {{ review.review_text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No received reviews</p>
        {% endif %}
    </div>
    
{% endblock %}
