{% extends "accounts/base.html" %}

{% block title %} Profile {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ user.first_name }} {{ user.last_name }}'s Profile</h2>

    <div class="justify-content-center">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="id-username" value="{{ user.username }}" readonly>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="id-email" value="{{ user.email }}" readonly>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="id-phone" value="{{ user.phone }}" readonly>
            </div>
        </form>

        <p>Edit profile <a href="/accounts/profile/edit">here</a></p>
    </div>
{% endblock %}