{% extends "yardSite/base.html" %}

{% block title %} List of sent Reviews {% endblock %}

{% block content %}
    <div>
        <hr class="mt-0 mb-4">
        {% if reviews %}
            <div class="card-columns">
                {% for review in reviews %}
                    <div class="card bg-light text-center">
                        <h5 class="card-header">{{ review.job.job_type}}</h5>
                        <div class="card-body">
                            <p class="card-text">Jobs description: {{ review.job.description }}</li>
                            <p class="card-text">You reviewed with a {{ review.rating_num }} star rating.</p>
			    <p class="card-text">You wrote: {{ review.review_text }}</p>
                        </div>
			<a href="{% url 'yardSite:sentReviewDetails' review.id %}">
                            <button class="btn btn-primary" style="margin-bottom: 10px;">View Review Details</button>
			</a>
			<a href="{% url 'yardSite:editReview' review.id %}">
                            <button class="btn btn-primary" style="margin-bottom: 10px;">Edit Review</button>
                        </a>


                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You have not sent any reviews yet.</p>
        {% endif %}
    </div>
{% endblock %}
