{% extends "yardSite/base.html" %}

{% block content %}

    <div>
        <h1 class="mt-2">Account Balance for {{account.username}}, {{account.first_name}} {{account.last_name}}</h1>
        <p>${{ account.wallet }}</p>
        <form method="post" class="form-group">
            {% csrf_token %}
            $<input type="number" name="Add" value="0" min="0"></input>
            <button type="submit" class="btn btn-success">Add Funds</button>
        </form>
        <br>
        <form method="post" class="form-group">
            {% csrf_token %}
            $<input type="number" name="Withdraw" value="0" min="0"></input>
            <button type="submit" class="btn btn-success">Remove Funds</button>
        </form>
    </div>

    <a href="{% url 'owner:owner_edit_account_balances' %}">
        <button class="btn btn-primary">Exit</button>
    </a>

{% endblock %}