{% extends "yardSite/base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1 class="mt-2">Account Balance for {{account.first_name}} {{account.last_name}} ({{account.username}})</h1>
                <hr class="mt-0 mb-2">
                <div class="form-group">
                    <form>
                        <div class="form-group">
                            <label for="balance">Available Balance</label>
                            <input type="text" class="form-control input-lg" id="id-balance" value="${{ account.wallet }}" readonly>
                        </div>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mt-2">
                            <div class="col">
                                <input type="number" step="0.01" name="value" value="0" min="0" class="input-lg form-control">
                            </div>
                            <div class="col">
                                <div class="btn-group">
                                    <input type="submit" name="Add" value="Add" class="btn btn-success">
                                    <input type="submit" name="Withdraw" value="Withdraw" class="btn btn-dark">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'owner:owner_edit_account_balances' %}">
        <button class="btn btn-primary">Exit</button>
    </a>

{% endblock %}