{% extends "yardSite/base.html" %}

{% block title %} Owner {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-2">Owner Dashboard</h1>
    <hr class="mt-0 mb-3">

    <div class="btn-group w-100">
        <a href="{% url 'owner:owner_add_delete_jobs' %}" class="fs-5 btn btn-outline-primary">
            See All Jobs
        </a>
        <a href="{% url 'owner:owner_edit_account_balances' %}" class="fs-5 btn btn-outline-primary">
            Edit Account Balances
        </a>
    </div>
</div>

<div>
</div>

<div class="container-fluid">
    <h1 class="mt-2">Current Job Types</h1>
    <hr class="mt-0 mb-4">
    {% if types %}
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for jobtype in types %}
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">{{ jobtype.name }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ jobtype.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No Jobs have been posted</p>
    {% endif %}
</div>

<div>
    <a href="{% url 'owner:owner_add_job_type' %}">
        <button class="mt-2 btn btn-primary">Create New Job Type</button>
    </a>
</div>
{% endblock %}